<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <form id="user-search">
                <div class="input-field">
                    <input id="search" type="search" placeholder="Git-user">
                    <label class="label-icon" for="search"><i class="material-icons">account_box</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            <span id="showUserRepos" title="My repos"><i class="fas fa-user-circle"></i></span>
            <span id="showComments" title="Show comments"><i  class="fas fa-comment"></i></span>
        </div>
      </nav>
    <template id="fork-template-id">
        <div>
            <h3>ntijoh-TE4/smallest_of_two</h3>
            <p>
                function smallestOfTwo (number1, number2){<br>
                    if (number1 < number2){<br>
                        let smallest = number1;<br>
                    }<br>
                    else {<br>
                        smallest = number2;<br>
                    }<br>
                    return smallest;<br>
                }
            </p>
            <a href="https://github.com">Show on gitHub</a>
            <form>
                <input placeholder="Kommentar">Comment
                <div>
                    <input type="radio" id="done" name="status_grade" value="done">
                    <label for="done">
                        <span class="material-icons">
                            done
                        </span>
                            Klar
                    </label><br>
                </div>
                <div>
                    <input type="radio" id="measure" name="status_grade" value="measure">
                    <label for="measure">
                        <span class="material-icons">
                            autorenew
                        </span>
                        Åtgärd Krävs
                    </label>
                </div>
                <div>
                    <input type="radio" id="not_graded" name="status_grade" value="not_graded" checked>
                    <label for="not_graded">
                        <span class="material-icons">
                            hide_source
                        </span>Ej Bedömd
                    </label>
                </div>
                <button type="submit">
                    SAVE
                </button>
            </form>
        </div>
    </template>
    <script src="../public/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>