<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <span class="material-icons">
                account_circle
            </span>
            <form>
                <div class="input-field">
                <i class="material-icons">close</i>
                <input id="search" type="search" required placeholder="Search">
                </div>
          </form>
        </div>
      </nav>
      <div>
          <h3>ntijoh-TE4/smallest_of_two</h3>
          <p>
              function smallestOfTwo (number1, number2){<br>
                  if (number1 < number2){<br>
                      let smallest = number1;<br>
                  }<br>
                  else {<br>
                      smallest = number2;<br>
                  }<br>
                  return smallest;<br>
              }
          </p>
          <a href="https://github.com">Show on gitHub</a>
          <form>
            <input placeholder="Kommentar">Comment
            <div>
                <input type="radio" id="done" name="status_grade" value="done">
                <label for="done"><span class="material-icons">
                    done
                    </span>Klar</label><br>
            </div>
            <div>
                <input type="radio" id="measure" name="status_grade" value="measure">
                <label for="measure"><span class="material-icons">
                    autorenew
                    </span>Åtgärd Krävs</label>
            </div>
            <div>
                <input type="radio" id="not_graded" name="status_grade" value="not_graded"
                    checked>
                <label for="not_graded"><span class="material-icons">
                    hide_source
                    </span>Ej Bedömd</label>
            </div>
                <button type="submit">
                SAVE
            </button>
        </form>
        </div>
</body>
</html>