<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <form id="user-search">
                <div class="input-field">
                    <input id="search" type="search" placeholder="Git-user">
                    <label class="label-icon" for="search"><i class="material-icons">account_box</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            <span id="showUserRepos" title="My repos"><i class="fas fa-user-circle"></i></span>
            <span id="showComments" title="Show comments"><i  class="fas fa-comment"></i></span>
        </div>
      </nav>
    <template id="fork-template-id">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="card">
                        <div class="card-content black-text">
                            <span class="card-title">itggot/smallest_of_two</span>
                            <div class="card darken-3 grey">
                                <code class="white-text">
                                    function smallestOfTwo(num1,num2) { <br>
                                        if (num1 < num2) return num1 <br>
                                    }
                                </code> 
                            </div>
                            <a>Show on GitHub</a>
                            <p><br>Test "Num1 is smallest": Passed</p>
                            <p>Test "Num2 is smallest": Passed</p>
                            <p>Test "They are both equal": Failed</p>
                            <br>
                            <br>
                            <div class="card-action">
                                <div class="row">
                                    <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Comment</label>
                                    </div>
                                </div>
                                <form action="#">
                                    <p>
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span><i class="small material-icons">done</i>Klar</span>
                                    </label>
                                    </p>
                                    <p>
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span><i class="small material-icons">refresh</i>Åtgärd krävs</span>
                                    </label>
                                    </p>
                                    <p>
                                    <label>
                                        <input name="group1" type="radio" checked/>
                                        <span><i class="small material-icons">visibility_off</i>Ej Bedömd</span>
                                    </label>
                                    </p>
                                </form>
                            </div>
                            <a class="waves-effect waves-light btn">SAVE</a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                </div>
            </div>
        </div>
    </template>
    <script src="../public/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>