<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <form id="user-search">
                <div class="input-field">
                    <input id="search" type="search" placeholder="Git-user">
                    <label class="label-icon" for="search"><i class="material-icons">account_box</i></label>
                    <i class="material-icons" id="clear-input">close</i>
                </div>
            </form>
            <span id="showUserRepos" title="My repos"><i class="fas fa-user-circle"></i></span>
            <span id="showComments" title="Show comments"><i  class="fas fa-comment"></i></span>
        </div>
    </nav>
    <template id="repo-template-id">
        <div class="repo_div">
            <h5 class="repo_title">Repository name</h5>
            <div class="show_forks">
                <a class="fork_link" href="../views/fork_listing.html" >Show forks</a>
            </div>
            <div class="seperator">
                <p>|</p>
            </div>
            <div class="show_on_github">
                <a class="github_link" href="https://github.com/#{user}/#{Repository}" target="_blank">Show on Github</a>
            </div>
        </div>
    </template>
    <div class="show_repos">
        
    </div>

      <script src="../public/js/script.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>