<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <span class="material-icons">
                account_circle
            </span>
            <form>
                <div class="input-field">
                <input id="search" type="search" required>
                <i class="material-icons">close</i>
                </div>
          </form>
        </div>
      </nav>

      <div class="repo_div">
        <h4 class="repo_title">Repository name</h4>
        <div>
            <a href="../views/fork_listing.html">Show forks</a>
            <p>|</p>
            <a href="https://github.com/#{user}/#{Repository}">Show on Github</a>
        </div>  
      </div>
</body>
</html>